@charset "utf-8";
/* Stylesheet for Boilerplate
     Author: 
       Date: 
   Comments: 
*/


/* Single Styles */
.responsive-image
{
	max-width: 100%; height: auto;
}
.hidden
{
	display: none;
	position: absolute;
	margin: 0; padding: 0; border-width: 0;
	width: 0; height: 0;
	overflow: hidden;
}